*.mp4
*.ogv
*.*~

/HW 1/HW1.X/build/default/
/HW 1/HW1.X/dist/default/
/HW 1/HW1.X/nbproject/
/HW 1/HW1.X/Makefile

/HW 2/*.*#*
/HW 2/*.b*
/HW 2/*.gpi
/HW 2/*.GBL
/HW 2/*.dri
/HW 2/*.GBO
/HW 2/*.GBP
/HW 2/*.GBS
/HW 2/*.GML
/HW 2/*.GTL
/HW 2/*.GTO
/HW 2/*.GTP
/HW 2/*.GTS
/HW 2/*.pro
/HW 2/*.TXT
/HW 2/*.l
/HW 2/*.epf

/HW 3/*.*#*
/HW 3/*.cam
/HW 3/*.zip

/HW 4/HW4.X/build/default/
/HW 4/HW4.X/dist/default/
/HW 4/HW4.X/nbproject/
/HW 4/HW4.X/Makefile

/HW 5/HW5.X/nbproject/
/HW 5/HW5.X/build/default/
/HW 5/HW5.X/dist/default/
/HW 5/HW5.X/Makefile

/HW 6/HW6.X/nbproject/
/HW 6/HW6.X/Makefile
/HW 6/HW6.X/build/default/
/HW 6/HW6.X/dist/default/

/HW 7/HW7.X/nbproject/
/HW 7/HW7.X/Makefile
/HW 7/HW7.X/build/default/
/HW 7/HW7.X/dist/default/

/HW 8/HW8/firmware/HW8.X/Makefile
/HW 8/HW8/firmware/HW8.X/nbproject/
/HW 8/HW8/firmware/HW8.X/build/default/
/HW 8/HW8/firmware/src/system_config/default/
/HW 8/HW8/firmware/HW8.X/dist/default/

/HW 9/HW9/firmware/HW9.X/Makefile
/HW 9/HW9/firmware/HW9.X/nbproject/
/HW 9/HW9/firmware/HW9.X/build/default/
/HW 9/HW9/firmware/src/system_config/default/
/HW 9/HW9/firmware/HW9.X/dist/default/
/HW 9/HW9/firmware/*.hconfig

/HW 10/HW10/firmware/HW10.X/Makefile
/HW 10/HW10/firmware/HW10.X/nbproject/
/HW 10/HW10/firmware/HW10.X/build/default/
/HW 10/HW10/firmware/HW10.X/dist/default/
/HW 10/HW10/firmware/src/system_config/default/
/HW 10/HW10/firmware/*.hconfig

/HW 11/HW11/firmware/HW11.X/Makefile
/HW 11/HW11/firmware/HW11.X/nbproject/
/HW 11/HW11/firmware/HW11.X/build/default/
/HW 11/HW11/firmware/HW11.X/dist/default/
/HW 11/HW11/firmware/src/system_config/default/
/HW 11/HW11/firmware/*.hconfig

/HW 12/HelloWorld/*.iml
/HW 12/HelloWorld/*.gradle
/HW 12/HelloWorld/.gitignore
/HW 12/HelloWorld/local.properties
/HW 12/HelloWorld/.idea/
/HW 12/HelloWorld/.DS_Store
/HW 12/HelloWorld/build
/HW 12/HelloWorld/captures
/HW 12/HelloWorld/.externalNativeBuild
/HW 12/HelloWorld/app/.gitignore

/HW 13/HW13/*.iml
/HW 13/HW13/.gradle
/HW 13/HW13/*.gitignore
/HW 13/HW13/local.properties
/HW 13/HW13/.idea/workspace.xml
/HW 13/HW13/.idea/libraries
/HW 13/HW13/.DS_Store
/HW 13/HW13/build
/HW 13/HW13/captures
/HW 13/HW13/.externalNativeBuild

/HW 14/HW14/firmware/HW14.X/Makefile
/HW 14/HW14/firmware/HW14.X/nbproject/
/HW 14/HW14/firmware/HW14.X/build/default/
/HW 14/HW14/firmware/HW14.X/dist/default/
/HW 14/HW14/firmware/src/system_config/default/
/HW 14/HW14/firmware/*.hconfig
/HW 14/Android/*.iml
/HW 14/Android/.gradle
/HW 14/Android/*.gitignore
/HW 14/Android/local.properties
/HW 14/Android/.idea/workspace.xml
/HW 14/Android/.idea/libraries
/HW 14/Android/.DS_Store
/HW 14/Android/build
/HW 14/Android/captures
/HW 14/Android/.externalNativeBuild

/HW 18/HW18/firmware/HW18.X/Makefile
/HW 18/HW18/firmware/HW18.X/nbproject/
/HW 18/HW18/firmware/HW18.X/build/default/
/HW 18/HW18/firmware/HW18.X/dist/default/
/HW 18/HW18/firmware/src/system_config/default/
/HW 18/HW18/firmware/*.hconfig
